html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #fff; }
  html a, body a {
    text-decoration: none;
    color: #fff;
    cursor: pointer; }

.alberta_lake {
  background: #289aa7 url("../img/bg/alberta_lake.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; }

.flex-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.empty {
  width: 20%;
  text-indent: -9999999999px; }

.logo {
  width: 7rem;
  border: 2px solid #fff;
  margin-top: -1.4rem;
  margin-bottom: 10rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase; }
  .logo_text {
    padding-top: 1.3rem; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 18rem; }

.slogan {
  width: 10%;
  text-align: center;
  text-transform: uppercase; }
  .slogan_text {
    font-size: 2.5rem;
    margin-bottom: 1rem; }

.main-info {
  width: 30%;
  border: 2px solid rgba(0, 0, 0, 0.001);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3); }

.social-media {
  width: 10%;
  padding-top: 1rem;
  text-align: center; }
  .social-media_link {
    opacity: 0.8; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.copyright {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.form:hover {
  cursor: pointer; }

.form_email {
  margin-right: 1rem;
  border: 3px solid #42aacf;
  border-radius: 25px;
  font-size: 1rem; }

.form_submit {
  background-color: #42aacf;
  font-size: 1rem;
  border: 2px solid #42aacf;
  border-radius: 25px; }


